# App
APP_ENV=development
NODE_ENV=development

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fish_auction

# Server
SERVER_HOST=localhost
SERVER_PORT=8080
FRONTEND_URL=http://localhost

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# SMTP
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_FROM=noreply@fish-auction.com

# PWA / Push Notification
VAPID_PUBLIC_KEY=your_vapid_public_key
VAPID_PRIVATE_KEY=your_vapid_private_key
VAPID_SUBJECT=mailto:admin@example.com

# localstack
LOCALSTACK_AUTH_TOKEN=xxxxxxxx
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# Database migration control
DB_SKIP_MIGRATIONS=false
