# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=fish_auction

# Server
SERVER_ADDRESS=:8080
APP_ENV=development

# Redis
REDIS_ADDR=localhost:6379

# SMTP
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_FROM=noreply@fish-auction.com

# PWA / Push Notification
VAPID_PUBLIC_KEY=BNsJHb8gK52F90sri2Y2cWoRz4WKxWKtxtX9_5SF3GtJhbRx3gkIKNcl9g6lGURZGXAO1XryP_6fONu4Az_WQzg
VAPID_PRIVATE_KEY=CJtvrZsdHJEvDfRsPGy-11hrlEtIqt0HbPU8NJYcdEg
VAPID_SUBJECT=mailto:admin@example.com
